[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "public"]
	path = public
	url = https://github.com/semiroyal/semiroyal.github.io.git
